In [34]:
word=['cat','python','ai','machine']
four=[ i for i in word  if len(i)>4]
print(four)

['python', 'machine']

In [35]:
numss=[1,2,3,4]
output = [ "even"if i % 2 == 0  else "odd" for i in numss]
print(output)

['odd', 'even', 'odd', 'even']

In [36]:
negative=[-3,4,-1,7]
out=[0 if i <0 else i for i in negative]
print(out)

[0, 4, 0, 7]

In [37]:
marks=[45,78,90,33]
passed=['pass' if i>50 else 'fail' for i in marks]
print(passed)

['fail', 'pass', 'pass', 'fail']

In [38]:
matrix=[
    [1,2],
    [3,4],
    [5,6]
]
for i in matrix:
    for j in i:
     print(matrix)

[[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]
[[1, 2], [3, 4], [5, 6]]

In [39]:
result=[(i,j ,i*j) for i in range(1,4) for j in range (1,4)]
print(result)

[(1, 1, 1), (1, 2, 2), (1, 3, 3), (2, 1, 2), (2, 2, 4), (2, 3, 6), (3, 1, 3), (3, 2, 6), (3, 3, 9)]

In [40]:
# set comprehension
nums=[1,2,3,4,5,4]
sq={n*n for n in nums}
print(sq)

{1, 4, 9, 16, 25}

In [41]:
#for comprehsnsion first out put then loop then condition
#[output ]
text='programingisfun'
vowel='aeiou'
t={i for i in text if i in 'aeiou' }
print(t)

{'i', 'a', 'o', 'u'}

In [42]:
# ditionary comprehension
 # {key : value  for item in collection }
nums=[1,2,3,4]
square={n :n*n for n in nums }
print(square)

{1: 1, 2: 4, 3: 9, 4: 16}

In [43]:
w=['python','ai','data']
s={n : len(n) for n in w}
print(s)

{'python': 6, 'ai': 2, 'data': 4}

In [44]:
scores={'ali':80,"zara":45,'ahemed':90}
passing={k:v for k,v in scores.items() if v>=50}
print(passing)

{'ali': 80, 'ahemed': 90}

In [45]:
names=['ali','zara','ahemed']
na=[]
na=[i.upper() for i in names]
print(na)

['ALI', 'ZARA', 'AHEMED']

In [46]:
lis=[i*i for i in range (1,51) if i%2==0]
print(lis)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500]

In [47]:
enter=input("enter a sentence")
even={i for i in enter if i in 'aeiou'}
print(even)

set()

In [48]:
words={'this','is','a','sample','document','containing','few','words'}
di={v:v[0] for v in words }
print(di)

{'containing': 'c', 'document': 'd', 'is': 'i', 'this': 't', 'words': 'w', 'sample': 's', 'few': 'f', 'a': 'a'}

In [49]:
# exception handling 10 dec 2025 

try:
    x=int(input("enter a number     :"))
    print(10/x)
except ZeroDivisionError:
    print("you are not allowed to divide by zero")
    #case 2:value eror 
except ValueError:
    print("please enter a valid number")

2.5

In [50]:
try:
    x=int(input("enter first number"))
    y=int(input("enter second number"))
    result=x/y
except ZeroDivisionError:
    print("not allowed to divide by 0")
except ValueError:
    print("invalid number")
else:
    print("calculation is success ful")
    print(f'answer  {result:.2f}')

calculation is success ful
answer  1.00

In [51]:
try:
    file=open("data.txt","r")
    print(file.read())
except:
    print("file not found")
else:
    print(file.read())
finally:
    print("program finished")

file not found
program finished

In [52]:
try:
    num=int(input("enter a number"))
    print(num/0)
except(ValueError,ZeroDivisionError):
    print("invalid number or division error")

invalid number or division error

In [53]:
numbers=[10,20,30]
try:
    
    index=int(input("enter index"))
    print(numbers[index])
except(ValueError,IndexError):
    print("index out of range or invalid ")

index out of range or invalid

In [54]:
#key error
student={"name":"babar","runs":76}
try:
    key=input("enter key")
    print(student[key])
except KeyError:
    print("key does not exist")

key does not exist

In [55]:
age=int(input("enter your age"))
if age<18:
    raise ValueError("age must be 18 or above")

In [56]:
#date 10 december 2025
#  when any error come in the website or code then whatv is showed is called exception handling
# exception is the run tim error that crushes your program if not handeled 
#for example 
# 1. dividing by zero 
# 2. converting text to number
# 3.accesing invalid index
# 4. file not found
#WHY EXCEPTION HANDLING IS IMPORTANT
#PREVENTS PROGRAM CRASHING '
#ALLOWS PROGRAM TO CONINUE
#REQUIRED IN REAL WORLD (BANKING AND HOSPITALS)
#TRY :RISKY CODE
#EXCEPT:IF ERROR RUN THIS CODE

#case 1 : divide b zero
try:
    x=int(input("enter a number     :"))
    print(10/x)
except ZeroDivisionError:
    print("you are not allowed to divide by zero")
    #case 2:value eror 
except ValueError:
    print("please enter a valid number")

2.5

In [ ]:
#12 dec 25
# excepton handling
#type error

TypeError: can only concatenate str (not "int") to str

In [ ]:
#syntax error
age=12
if age>18
print('adult')

SyntaxError: expected ':' (674984256.py, line 2)

In [ ]:
#indent error
if True:
print("hello")

IndentationError: expected an indented block after 'if' statement on line 2 (25233140.py, line 3)

In [ ]:
#index error
num=[1,2,3]
print(num[3])

IndexError: list index out of range

In [ ]:
#zero division error
x=10
y=0
print(x/y)

ZeroDivisionError: division by zero

In [ ]:
#logical error

marks=80
if marks>70:
    print('A grade')
elif marks>70:
    print("Grade B")
elif marks>60:
    print("C")
elif marks>70:
    print('A grade')
elif marks>70:
    print("Grade B")
elif marks>80:
    print("C*")

A grade

In [ ]:
#attribute error
name='python'
print(name.uppercase())

AttributeError: 'str' object has no attribute 'uppercase'

In [ ]:
#logic building
#input 
#output
#condition
#loop or repetattion
#data types
#tool specifi operetor method
num=int(input("enter a number"))
if num%2==0:
    print("even")
else:
    print("odd")

even

In [ ]:
marks=int(input("enter a number"))
if marks>=40:
    print("pass")
else:
    print("fail")

pass

In [ ]:
#input==two  numbers
#output print the greater one 
#condition a>b
a=int(input("enter a number"))
b=int(input("enter the second number"))
if a>b:
    print(a)
else:
    print(b)

7

In [ ]:
#logic building
#input=
#output
#condition (if user name is admin and password 1234)
#loop or repetattion
#data types
#tool specifi operetor method
username=input("enter the user name").lower()
password=input("enter the password")
if username=='admin' and password=='1234':
    print("login succesfully")
else:
    print("wrong password and user name")

wrong password and user name

In [ ]:
#logic building
#input 
#output
#condition      age<13 child 13 and 19 teen and 20 above adult
#loop or repetattion
#data types
#tool specifi operetor method
age=int(input("enter the age"))
if age <=13:
    print("child")
elif age>13 and age<=19:
    print("teen")
elif age >=20:
    print("adult")

adult

In [ ]:
#logic building
#input 
#output
#condition  
#loop or repetattion
#data types
#tool specifi operetor method

In [ ]:
print(bool(99))

True

In [ ]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [ ]:
i=5
while i>=1:
    print(i)
    i=i-1

5
4
3
2
1

In [ ]:

sum=0
for i in range(1,6):
    
    sum=sum+i
    i=i+1
print(sum)

15

In [ ]:
sum=0
i=1
while i<=5:
    
    sum=sum+i
    i=i+1
print(sum)

15

In [ ]:
nums=[10,20,30,40]
number=int(input("enter a number"))
if number in nums:
    print("found")
else:
    print("not found")

found

In [ ]:
#logic building
#input 
#output
#condition  
#loop or repetattion
#data types
#tool specifi operetor method

In [ ]:
#27 dec 25
#logic building
#input  enter anumber 
#output even divisible
#condition  
#loop or repetattion
#data types
#tool specifi operetor method


num=int(input("enter a number   :"))
if num%2==0 and num %5==0:
    print("even and divisble by 5")
else:
    print("not divisible 5 or not even")

not divisible 5 or not even

In [ ]:
bill=int(input("enter a number"))
if bill>=5000:
    disc=bill*.10
    total=bill-disc
    print("you got 10 percent discount",total)
else:
    print(bill)

400

In [ ]:
count=0

for  i in range(1,11):
    if i%2==0:
        count=count+1
print(count)

5

In [ ]:
i=1
count=0
while(i<=11):
    if i%2==0:
        count=count+1
    i+=1
print(count)

5

In [ ]:
#


i=1
sum=0
while(i<=10):
    if i%2==1:
        sum+=i
    i=i+1
print(sum)

25

In [65]:
num=int(input("enter a number "))
is_positive=False
is_even=False
if num %2==0:
    is_even=True
if num>0:
    is_positive=True
print("is number is positive",is_positive)
print("is number is even",is_even)

is number is positive False
is number is even False

In [72]:
bill=float(input("enter bill amount"))
member=input("member ship (yes no)").lower()
if bill>=3000:
    dis=bill*0.10
    total=bill-dis
    if member=="yes":
        dis=bill*0.15
        total=bill-dis
        print("your total amount is ",total)
    else:
        print(total)

else:
    print(bill)

27000.0